{
    "env": {
        "browser": true,
        "node": true
    },

    "globals": {
        "angular": false,
        "describe": false,
        "it": false,
        "expect": false,
        "beforeEach": false,
        "afterEach": false,
        "spyOn": false,
        "by": false,
        "fail": false,
        "element": false,
        "browser": false,
        "jasmine": false,
        "module": false,
        "inject": false
    },

    "rules": {
        "quotes": [2, "single", "avoid-escape"],
        "no-underscore-dangle": 0,
        "no-unused-vars": 0
    }
}
