.AuthOnly {
  height: 100%;
  display: table;
  position: relative;
  width: 100%;
}

.AuthOnly:after {
  color: var(--text-color-faded);
  content: 'Authorize to view this demo...';
  font-size: 1.1em;
  font-weight: 300;
  left: var(--gap);
  line-height: 1.4em;
  margin-top: -.7em;
  position: absolute;
  right: var(--gap);
  text-align: center;
  top: 50%;
  z-index: 2;
}

.AuthOnly--tool:after {
  content: 'Authorize to use this tool...';
}

.AuthOnly > * {
  visibility: hidden;
}

.Site.is-authorized .AuthOnly::after,
.Site.is-authorized .AuthOnly::before {
  content: none;
}

.Site.is-authorized .AuthOnly > * {
  visibility: visible;
}