.Box {
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: var(--gap);
  padding: var(--gap);
}


.Box-header {
  border-bottom: 1px solid var(--border-color);
  margin: -var(--gap) -var(--gap) var(--gap);
  padding: var(--gap);
}

.Box-footer {
  border-top: 1px solid var(--border-color);
  margin: var(--gap) -var(--gap) -var(--gap);
  padding: var(--gap);
}

@media (--break-lg) {
  .Box {
    margin-bottom: var(--gap-lg);
    padding: var(--gap-lg);
  }
  .Box-header {
    margin: -var(--gap-lg) -var(--gap-lg) var(--gap-lg);
    padding: var(--gap-lg);
  }
  .Box-footer {
    margin: var(--gap-lg) -var(--gap-lg) -var(--gap-lg);
    padding: var(--gap-lg);
  }
}