.FormField {
  width: 100%;
}

input.FormField,
select.FormField,
textarea.FormField {
  background: #fff;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  font: inherit;
  font-weight: 400;
  height: calc(34em/14); /* 34px @ 14px body font */
  line-height: calc(20em/14); /* 20px @ 14px body font */
  padding: calc(6em/14); /* 6px @ 14px body font */
  transition: border-color .2s var(--quantum-timing);
}

textarea.FormField {
  display: block;
  height: auto;
  resize: vertical;
}

input.FormField:focus,
select.FormField:focus,
textarea.FormField:focus {
  border-color: var(--border-color-active);
  outline: 0;
}