.Screenshot {
  margin-bottom: var(--gap);
}

.Screenshot img {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: auto;
  max-width: 100%;
}

.Screenshot figcaption {
  color: var(--text-color-faint);
  font-size: .85em;
  font-style: italic;
  padding: .5em 4px 0;
  text-align: right;
}