// scripts

script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/languages/javascript.min.js")

//   * GA Tracking Code
script(type="text/javascript").
	hljs.initHighlightingOnLoad();


	function whenReady (fn) {
		if (document.readyState != 'loading') {
			fn();
		} else {
			document.addEventListener('DOMContentLoaded', fn);
		}
	}
	
	whenReady(function () {
		var downloadZipLink = document.getElementById('downloadZip');
		if (downloadZipLink) {
			downloadZipLink.addEventListener('click', function (event) {
				ga('send', 'event', 'Button', 'Click', 'Download Zip File');
			});
		}

		var downloadTarGzLink = document.getElementById('downloadTarGz');
		if (downloadTarGzLink) {
			downloadTarGzLink.addEventListener('click', function (event) {
				ga('send', 'event', 'Button', 'Click', 'Download Tar.gz File');
			});
		}

		var viewOnGithub = document.getElementById('githubSite');
		if (viewOnGithub) {
			viewOnGithub.addEventListener('click', function (event) {
				ga('send', 'event', 'Button', 'Click', 'View Project on Github');
			});
		}
	});
