hr

footer.footer
	p.text-muted &copy; Copyright 2015 
		a(href="http://philippesawicki.com", target="_blank", title="Philippe Sawicki - Full Stack Developer & Digital Analyst", rel="me") Philippe Sawicki
