// scripts

script(type="text/javascript").
	function asyncLoad (src, callback) {
		var s = document.createElement('script');
		s.type = 'text/javascript';
		s.async = true;
		s.src = src;
		if (typeof callback === 'function') {
			s.addEventListener('load', callback, false);
		}
		var h = document.getElementsByTagName('head')[0];
		h.appendChild(s);
	}
	asyncLoad('//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js', function (event) {
		if (typeof hljs !== 'undefined') {
			hljs.initHighlighting();
		}
	});
	asyncLoad('//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js', function (event) {
		asyncLoad('public/js/main.min.js');
	});