meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300")
link(rel="stylesheet", href="public/css/main.css")
//link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css")

meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="#{pageDescription}")
meta(name="author", content="#{metaAuthor}")
meta(name="copyright", content="#{metaCopyright}")