div.Logo(title="Google Analytics Demos and Tools")
	div.Logo-full
		svg(viewBox="0 0 622 63.08")
			use(xlink:href="public/images/icons.svg#ga-developer-logo")

	div.Logo-partial
		svg(viewBox="0 0 95 16")
			use(xlink:href="public/images/icons.svg#google-analytics-text")