header.NavHeader
	a.NavHeader-homeLink(href="index.html")
		svg.Icon(viewBox="0 0 16 16")
			use(xlink:href="public/images/icons.svg#icon-home")
		h1.NavHeader-title Home

	span.NavHeader-controls#sidebar-close
		svg.Icon(viewBox="0 0 16 16")
			use(xlink:href="public/images/icons.svg#icon-left-arrow")