extends base

block variables
	- var pageTitle = "About the Demo Application"
	- var pageDescription = "Description and screenshots of the Google Analytics Web Tester Demo Application. Presents the most common Use Cases for a website and ways to valide them."
	- var pageSubtitle = ""
	- var pageHeader = "About the Demo Application"
	- var pageName = "About the Demo Application"
	- var pageUrl = "about-the-demo-application.html"
	- var pageTwitterCardDescription = "Description and screenshots of the Google Analytics Web Tester Demo Application. Presents the most common Use Cases for a website and ways to valide them using direct 'ga()' calls or Google Tag Manager"

block content
	h2.sub-header Usage

	p The library comes with a Demo Application to demonstrate the how to validate some of the most widely used Use Cases:
	ul
		li Tracking Pageviews
		li Tracking Custom Events
		li Tracking Custom Metrics & Dimensions
		li Tracking Enhanced E-Commerce

	

	h2.sub-header Screenshots

	h3 Homepage
	img(src="images/screenshot-home.png", width="690", height="521", alt="Google Analytics Web Tester - Homepage Screenshot", title="Google Analytics Web Tester - Homepage Screenshot")

	h3 Blog
	img(src="images/screenshot-blog.png", width="690", height="521", alt="Google Analytics Web Tester - Blog Screenshot", title="Google Analytics Web Tester - Blog Screenshot")

	h3 Product Slider with Add to Cart options
	img(src="images/screenshot-add-to-cart.png", width="690", height="521", alt="Google Analytics Web Tester - Add to Cart Screenshot", title="Google Analytics Web Tester - Add to Cart Screenshot")

	