extends base

block variables
	- var pageTitle = "About the Demo Application"
	- var pageDescription = "Description and screenshots of the Google Analytics Web Tester Demo Application. Presents the most common Use Cases for a website and ways to valide them."
	- var pageSubtitle = ""
	- var pageHeader = "About the Demo Application"
	- var pageName = "About the Demo Application"
	- var pageUrl = "about-the-demo-application.html"
	- var pageTwitterCardDescription = "Description and screenshots of the Google Analytics Web Tester Demo Application. Presents the most common Use Cases for a website and ways to valide them using direct 'ga()' calls or Google Tag Manager"

block content
	h2.sub-header Usage

	p The library comes with a Demo Application to demonstrate the how to validate some of the most widely used Use Cases:
	ul
		li Tracking Pageviews
		li Tracking Custom Events
		li Tracking Custom Metrics & Dimensions
		li Tracking Enhanced E-Commerce

	
	h2.sub-header Running the Demo Application

	p To illustrate how these components are wired together, the project comes preconfigured with a simple web server and a demo application. If you want, you can check it out by opening up a browser and heading over to <code>http://localhost:8000/dist/index.html#/</code> after running <code>npm start</code>.

	p Once the demo application is started, you can run some tests on it by executing <code>npm run protractor</code>.

	p The tests should now run, and the calls to Google Analytics' <code>ga()</code> method should be intercepted and logged to the console.
	

	h2.sub-header Screenshots

	h3 Homepage
	img(src="images/screenshot-home.png", width="690", height="521", alt="Google Analytics Web Tester - Homepage Screenshot", title="Google Analytics Web Tester - Homepage Screenshot")

	h3 Blog
	img(src="images/screenshot-blog.png", width="690", height="521", alt="Google Analytics Web Tester - Blog Screenshot", title="Google Analytics Web Tester - Blog Screenshot")

	h3 Product Slider with Add to Cart options
	img(src="images/screenshot-add-to-cart.png", width="690", height="521", alt="Google Analytics Web Tester - Add to Cart Screenshot", title="Google Analytics Web Tester - Add to Cart Screenshot")

	