extends base

block variables
	- var pageTitle = "Contact"
	- var pageDescription = "Getting in touch with Philippe Sawicki about Google Analytics Web Tester."
	- var pageSubtitle = "Getting in touch"
	- var pageHeader = "Contact"
	- var pageName = "Contact"
	- var pageStatus = ""
	- var pageUrl = "contact.html"

block content
	p Got a question, a comment or want to reach out?

	p You can get in touch with me on the following platforms:
		ul
			li: a(href="http://philippesawicki.com" title="Philippe Sawicki - Full Stack Developer" rel="me") philippesawicki.com
			li: a(href="https://github.com/philsawicki" title="philsawicki on Github" rel="me") Github
			li: a(href="https://facebook.com/philippe.sawicki" title="Philippe Sawicki on Facebook" rel="me") Facebook
			li: a(href="https://twitter.com/fyll_s" title="@fyll_s on Twitter" rel="me") Twitter
			li: a(href="https://plus.google.com/+PhilippeSawicki" title="Philippe Sawicki on Google+" rel="me") Google+
			li: a(href="https://linkedin.com/in/philippesawicki" title="Philippe Sawicki on LinkedIn" rel="me") LinkedIn
