extends base

block variables
	- var pageTitle = "Contact"
	- var pageDescription = "Have any questions or comments about Google Analytics Web Tester? Get in touch online with Philippe Sawicki over any major platform."
	- var pageSubtitle = "Getting in touch"
	- var pageHeader = "Contact"
	- var pageName = "Contact"
	- var pageStatus = ""
	- var pageUrl = "contact.html"
	- var pageTwitterCardDescription = "Have any questions or comments about Google Analytics Web Tester? Get in touch online with Philippe Sawicki over any major platform, I will happily assist you in finding a solution."

block content
	p Got a question, a comment or want to reach out?

	p You can get in touch with me on the following platforms:
		ul
			li: a(href="http://philippesawicki.com", title="Philippe Sawicki - Full Stack Developer and Digital Analyst", rel="me", id="contactWebsite") philippesawicki.com
			li: a(href="https://github.com/philsawicki", title="philsawicki on GitHub", rel="me", id="contactGithub") GitHub
			li: a(href="https://facebook.com/philippe.sawicki", title="Philippe Sawicki on Facebook", rel="me", id="contactFacebook") Facebook
			li: a(href="https://twitter.com/fyll_s", title="@fyll_s on Twitter", rel="me", id="contactTwitter") Twitter
			li: a(href="https://plus.google.com/+PhilippeSawicki", title="Philippe Sawicki on Google+", rel="me", id="contactGooglePlus") Google+
			li: a(href="https://linkedin.com/in/philippesawicki", title="Philippe Sawicki on LinkedIn", rel="me", id="contactLinkedIn") LinkedIn
