extends base

block variables
	- var pageTitle = "User Timings"
	- var pageDescription = "Page description"
	- var pageSubtitle = "Page Subtitle"
	- var pageName = "User Timings"
	- var pageStatus = ""

block content
	h1 Tracking User Timings

	p To validate tracking of User Timings, use the following Array in your Jasmine expectations:

	pre
		code
			|['send', 'timing', { ────────────────────> 1&2. (Standard Google Analytics parameters)
			|    'timingCategory': 'External Libs', ───> 3. Timing Category
			|    'timingVar': 'Load Time', ────────────> 4. Timing Variable
			|    'timingValue': 123, ──────────────────> 5. Timing Value (in ms)
			|    'timingLabel': 'jQuery' ──────────────> 6. Timing Label
			|}]
