extends base

block variables
	- var pageTitle = "Pageviews Code Samples"
	- var pageDescription = "Implementation guide including code samples to validate tracking of Google Analytics Pageviews using Google Analytics Web Tester."
	- var pageSubtitle = ""
	- var pageHeader = "Tracking Pageviews"
	- var pageName = "Pageviews"
	- var pageUrl = "examples-pageviews.html"

block content
	p To validate tracking of Pageviews, use the following Array in your Jasmine expectations:

	pre
		code(class="javascript").
			['send', 'pageview']
			  │       └──────────────────────────────> 2. (Standard Google Analytics parameter)
			  └──────────────────────────────────────> 1. (Standard Google Analytics parameter)

	p Using direct <code>ga()</code> calls, checking proper tracking of Pageviews could be done in the following manner:

	pre
		code(class="javascript").
			describe('The Google Analytics "Pageview" tracking', function () {
			   beforeEach(function () {
			      // Load the page to test:
			      browser.get('index.html');
			
			      // Register the Google Analytics Event Data Interceptor:
			      browser.driver.registerGoogleAnalyticsEventDataInterceptor();
			   });
			 
			   it('should fire a Pageview event', function (done) {
			      // Get the "LastEvent" object back from the browser:
			      browser.driver.executeScript(function () {
			         return window.GAWebTester.getLastEvent();
			      })
			      .then(
			         // Validate the content of the "LastData" object:
			         function successCallback (LastData) {
			            expect( LastData ).toEqual( ['send', 'pageview'] );
			         },
			         // If there was an error getting back the "LastData" object from the browser, fail the test:
			         function errorCallback (error) {
			            fail('Should not have received Error: ' + JSON.stringify(error));
			         }
			      )
			      .then(done);
			   });
			});
