extends base

block variables
	- var pageTitle = "Cross-Device Tracking Code Samples"
	- var pageDescription = "Implementation guide including code samples to validate tracking of Google Analytics Cross-Device Usage using Google Analytics Web Tester."
	- var pageSubtitle = ""
	- var pageHeader = "Tracking Cross-Device Usage"
	- var pageName = "Cross-Device Tracking"
	- var pageUrl = "examples-cross-device-tracking.html"

block content
	h2.sub-header Google Analytics Data Structure
	
	p To validate tracking of Cross-Device Usage, use the following Array in your Jasmine expectations:

	pre
		code(class="javascript hljs well").
			['set', '&uid', '12345']
			  │      │       └───────────────────────> 3. User ID value
			  │      └───────────────────────────────> 2. User ID parameter
			  └──────────────────────────────────────> 1. (Standard Google Analytics parameter)

	h2.sub-header Sample Jasmine Spec File

	p Using direct <code>ga()</code> calls, checking proper tracking of Cross-Device usage could be done in the following manner:

	pre
		code(class="javascript hljs well").
			describe('The Google Analytics "Cross-Device Usage" tracking', function () {
			   beforeEach(function () {
			      // Load the page to test:
			      browser.get('index.html');
			
			      // Register the Google Analytics Event Data Interceptor:
			      browser.driver.registerGoogleAnalyticsEventDataInterceptor();
			   });
			 
			   it('should fire a Cross-Device Usage event when loading the page', function (done) {
			      // Get the "LastEvent" object back from the browser:
			      browser.driver.executeScript(function () {
			         return window.GAWebTester.getLastEvent();
			      })
			      .then(
			         // Validate the content of the "LastData" object:
			         function successCallback (LastData) {
			            expect( LastData ).toEqual( ['set', '&uid', '12345'] );
			         },
			         // If there was an error getting back the "LastData" object from the browser, fail the test:
			         function errorCallback (error) {
			            fail('Should not have received Error: ' + JSON.stringify(error));
			         }
			      )
			      .then(done);
			   });
			});
