extends base

block variables
	- var pageTitle = "Google Analytics Web Tester by Philippe Sawicki"
	- var pageDescription = "Google Analytics Web Tester is a tool to validate proper tracking of a website, to check that every feature is properly tracked. Compatible with GTM."
	- var pageSubtitle = ""
	- var pageHeader = "Google Analytics Web Tester"
	- var pageHeaderCTAText = "View on GitHub →"
	- var pageHeaderCTALink = "https://github.com/philsawicki/GoogleAnalytics-WebTester"
	- var pageName = "index"
	- var pageUrl = "index.html"
	- var siteTitle = ""
	- var pageTwitterCardDescription = "Google Analytics Web Tester is a tool to validate proper tracking of a website. Whether using direct 'ga()' calls or GTM,  you can rest assured that your user interactions are always being recorded."

block content
	h2#about About this site

	p <strong>Google Analytics Web Tester</strong> is a tool to help developers, digital analysts and QAs validate the implementation of Google Analytics tracking on a website.

	p For a complete overview of how to set up the library, head out to <a href="how-does-it-work.html" title="How Google Analytics Web Tester works"><em>How does it work?</em></a>.

	p The code for this entire site is open source and <a href="https://github.com/philsawicki/GoogleAnalytics-WebTester"> available on GitHub</a>. I encourage you to take a look if you'd like to see how anything is done.



	h3 Motivation

	p Testing proper implementation of Google Analytics Tracking on a website can be a tricky thing to do. Unless you run a daily gamut of tests, what works one day may be broken the next one without you ever noticing.

	p But it doesn't have to be that way.

	p This library eases the process of writing automated tests by providing a set of easy to use utility methods. It comes with an AngularJS demo application to show how to validate that the <code>ga()</code> snippet receives the expected data when the user interacts with the page.

	p Whether using the Google Analytics snippet directly (<code>ga()</code>) or Google Tag Manager, all tracking interactions can be recorded the exact same way:
		ul
			li Pageviews
			li Custom Events
			li Custom Metrics / Dimensions
			li Enhanced E-Commerce
			li Social Interactions
			li Timings
			li Exception Tracking
			li etc.

	p Just set the URL of your website, write a couple of specs and run the app, or set it to run after each build/deployment.


	h3 Examples

	p Examples showcase how Google Analytics Web Tester can be used to track some common use cases.
		ul
			li Examples are targeted at real-world uses cases and solutions.
			Access the powerful features of Google Analytics while maintaining minimal code.
			li Use industry-standard tools and libraries so that integration efforts are minimal.
			li All publicly available technologies are used. Nothing proprietary.

	
	h3#help Help & Feedback
	ul
		li Documentation for all Google Analytics API, libraries and SDKs can be found on <a href="http://developers.google.com/analytics">Google Analytics Developers</a>.
		li If you have questions, please refer to the <a href="contact.html">contact page</a> to find the best place to get yout questions answered.
